extends templates/main

block variables

    - var currentPageLink = 'about.html'
    - var title = 'Обо мне'
    - var descr = 'Читай'

block content    
    p.bio-text My name is Tamila. I am 27 years old and am currently studying to be a Front-End developer and developing in this area. I want to continue my journey in this direction. I love to learn something new &#128526  Goal: start a career as a junior html layout designer in an excellent company and grow to a Senior developer.



    include blocks/footer  