extends templates/main

block variables

    - var currentPageLink = 'color.html'
    - var title = 'Моя работа 4'
    - var descr = 'Читай'

block content 
 .list__job
   .list__job-descr
     h2 Коротко о проекте
     p.p Цель: 
   .list__job-block
     img(src="img/color-dance.png", alt="")
     a.link(href="works/color_dance/index.html", target="_blank") Open page

 include blocks/footer