extends templates/main

block variables

    - var currentPageLink = 'home.html'
    - var title = 'Моя работа 3'
    - var descr = 'Читай'

block content 

  .list__job
     img.list__job-img(src="img/home1.png", alt="")
     .list__job-descr 
       h2.h2 About the project
       h3.h3 Objective: To learn how to typeset a multi-page site using the Gulp builder
        h4.h4 Technologies:
        ul 
         li GULP, SASS, PUG
        a.link(href="works/home21/build/index.html", target="_blank") Open page
