extends templates/main

block variables

    - var currentPageLink = 'home.html'
    - var title = 'Моя работа 3'
    - var descr = 'Читай'

block content 

  .list__job
     img.list__job-img(src="img/home1.png", alt="")
     .list__job-descr 
       h2.h2 Коротко о проекте
       h3.h3 Цель:  Научиться верстать многостраничный сайт при помощи сборщика Gulp
       h4.h4 Технологии:
        ul 
         li GULP, SASS, PUG
        a.link(href="works/home21/build/index.html", target="_blank") Open page
