extends templates/main

block variables
    - var currentPageLink = 'index.html'
    - var title = 'Главная страница'
    - var descr = 'Самая главная страница'

block content
 .main
  .container 
    
    p.main__text Layout & Frontend
 

 







