extends templates/main

block variables

    - var currentPageLink = 'job.html'
    - var title = 'Мои работы'
    - var descr = 'Обзор моих работ'

block content 
   .job 
    .job__block
      img.job-img(src="img/trafalgat.png", alt="")
      h1 Adaptive layout
      a.link(href="trafalgat.html", target="_blank") Open page
    .job__block
      img.job-img(src="img/proect2.png", alt="")
      h1 Animation site
      a.link(href="proect.html", target="_blank") Open page
    .job__block
      img.job-img(src="img/home.png", alt="")
      h1 Multi-page
      a.link(href="home.html", target="_blank") Open page
    .job__block
      img.job-img(src="img/color-dance.png", alt="")
      h1 Draw-colors
      a.link(href="color.html", target="_blank") Open page
    .job__block
      img.job-img(src="img/timer.png", alt="")
      h1 Pomodoro-timer
      a.link(href="timer.html", target="_blank") Open page

   include blocks/footer    
      
       