extends templates/main

block variables

    - var currentPageLink = 'proect.html'
    - var title = 'Моя работа 2'
    - var descr = 'Читай'

block content 

 .list__job
   img.list__job-img(src="img/proect.png", alt="")
   .list__job-descr 
     h2.h2 About the project
     h3.h3 Objective: To learn how to work with Animations css, add Parallax effects when moving the mouse, when scrolling,Use the GULP builder
     h4.h4 Technologies:
      ul 
       li PARCEL, SASS, PUG
       li JAVASCRIPT;
     h4.h4 BY MEANS OF JAVASCRIPT WERE IMPLEMENTED: Animation, Parallax effect - it can liven up illustrations and text and add depth to your site without the need for complex design finesse.
    
     a.link(href="works/proect2/dist/index.html", target="_blank") Open page

