extends templates/main

block variables

    - var currentPageLink = 'proect.html'
    - var title = 'Моя работа 2'
    - var descr = 'Читай'

block content 

 .list__job
   img.list__job-img(src="img/proect.png", alt="")
   .list__job-descr 
     h2.h2 Коротко о проекте
     h3.h3 Цель:  Научиться работать с Анимациями css,добавлять Parallax эффекты при движении мыши,при скролле
    
     h4.h4 Технологии:
      ul 
       li PARCEL, SASS, PUG
       li JAVASCRIPT;
     h4.h4 Средствами Javascript были реализованы:  Animation, Parallax effect
    
     a.link(href="works/proect2/dist/index.html", target="_blank") Open page

