extends templates/main

block variables

    - var currentPageLink = 'timer.html'
    - var title = 'Моя работа 5'
    - var descr = 'Читай'

block content 
 .list__job
   img.list__job-img(src="img/pomodor.png", alt="")
   .list__job-descr 
     h2.h2 Коротко о проекте
     h3.h3 Метод «Помодора» — техника управления временем, предполагает разбиение задач на 25-минутные периоды, называемые «помидоры», сопровождаемые короткими перерывами 2-5 минут.Данный онлайн таймер имеет несколько настроек, можно устанавливать рабочее время, время отдыхa. 
     h3.h3 Цель:  Научиться работать в JS ,реализовывать TImer, использовать библиотеки JQUERY
     
     h4.h4 Технологии:
      ul 
       li GULP, PUG, SASS;
       li JAVASCRIPT;
     h4.h4 Средствами Javascript были реализованы:  Timer
     a.link(href="works/pomodoro_timer/build/index.html", target="_blank") Open page

 