extends templates/main

block variables

    - var currentPageLink = 'timer.html'
    - var title = 'Моя работа 5'
    - var descr = 'Читай'

block content 
 .list__job
   .list__job-descr
     h2 Коротко о проекте
     p.p Цель: 
   .list__job-block
     img(src="img/timer.png", alt="")
     a.link(href="works/pomodoro_timer/build/index.html", target="_blank") Open page

 include blocks/footer