extends templates/main

block variables

    - var currentPageLink = 'timer.html'
    - var title = 'Моя работа 5'
    - var descr = 'Читай'

block content 
 .list__job
   img.list__job-img(src="img/pomodor.png", alt="")
   .list__job-descr 
     h2.h2 About the project
     h3.h3 Method "Pomodora" - a time management technique, involves dividing tasks into 25-minute periods, called "tomatoes", followed by short breaks of 2-5 minutes. This online timer has several settings, you can set working hours, rest time.
     h3.h3 Objective: Learn to work in JS, implement TImer, use the JQUERY libraries
     
     h4.h4 Technologies:
      ul 
       li GULP, PUG, SASS;
       li JAVASCRIPT;
     h4.h4 Implemented by means of Javascript: Timer
     a.link(href="works/pomodoro_timer/build/index.html", target="_blank") Open page

 