extends templates/main

block variables

    - var currentPageLink = 'trafalgat.html'
    - var title = 'Моя работа1'
    - var descr = 'Читай'

block content 
 .list__job
   img.list__job-img(src="img/tafal.png", alt="")
   .list__job-descr 
     h2.h2 Коротко о проекте
     h3.h3 Цель:  Научиться адаптивно верстать сложные макеты
     p.descr-text Адаптивная верстка (Adaptive Layout) позволяет подстраиваться основному контейнеру и любому другому элементу сайта под разрешение экрана, делая возможным менять размер шрифта, расположение объектов, цвет и т. д. Происходит это динамически, например, с использованием медиа-запросов (@media), позволяющих автоматически определять разрешение монитора, тип устройства и подставлять указанные значения в автоматическом режиме.

     h4.h4 Технологии:
      ul 
       li HTML5, CSS3;
       li JAVASCRIPT;
     h4.h4 Средствами Javascript были реализованы:  Slick Slider
     
     a.link(href="works/trafalgat/index.html", target="_blank") Open page


 
