extends templates/main

block variables

    - var currentPageLink = 'trafalgat.html'
    - var title = 'Моя работа1'
    - var descr = 'Читай'

block content 
 .list__job
   .list__job-descr
     h2 Коротко о проекте
     p.p Цель:  Научиться адаптивно верстать сложные макеты
   .list__job-block
     img(src="img/tafal.png", alt="")
     a.link(href="works/trafalgat/index.html", target="_blank") Open page


 include blocks/footer   
