extends templates/main

block variables

    - var currentPageLink = 'trafalgat.html'
    - var title = 'Моя работа1'
    - var descr = 'Читай'

block content 
 .list__job
   img.list__job-img(src="img/tafal.png", alt="")
   .list__job-descr 
     h2.h2 About the project
     h3.h3 Objective: Learn to adaptively layout complex layouts    
     p.descr-text Adaptive Layout allows the main container and any other element of the site to adapt to the screen resolution, making it possible to change the font size, position of objects, color, etc. This happens dynamically, for example, using media queries (@media), allowing to automatically determine the resolution of the monitor, the type of device and substitute the specified values ​​in automatic mode.

     h4.h4 Technologies:
      ul 
       li HTML5, CSS3;
       li JAVASCRIPT;
     h4.h4 BY MEANS OF JAVASCRIPT WERE IMPLEMENTED:  Slick slider- is a jQuery plugin for quickly creating a responsive slider of any complexity on your website. Its functionality allows you to implement looping, autoplay, transition effects and much more. Separately, I will highlight the ability to swipe the slider with your finger on devices with a touch screen.
     
     a.link(href="works/trafalgat/index.html", target="_blank") Open page


 
