.logo {
    font-size: 25px;
    margin-left: 100px;
    font-weight: bold;

}
.link {
    text-decoration: none;
    font-size: 20px;
    color: rgb(168, 32, 78) ;
    padding: 10px 20px;
    border-radius: 10px;
   

    &:hover {
        background: #822659;
        color: cornsilk;
       
    }
}
.h2 {
   text-align: center;
    font-size: 30px;
}

.h3, .h4 {
    font-size: 20px;
    line-height: 30px;
}

