.list__job {
    overflow: hidden;
    background: rgb(253, 161, 128);
    min-height: calc(100vh - 100px - 130px);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;

    

    &-img {
        margin-right: 10%;
        object-fit: contain;
        max-width: 40%;
          

   

       
    }
    
    &-descr {
        max-width: 400px;
        margin-left: 15%;

        .descr-text {
            font-size: 20px;
        }

        ul {
            padding: 0;

            li {
                list-style: none;
            }

            
        }

        
    }
   
    


}