.job {
    background: #e4ae9a;
    min-height: calc(100vh - 100px - 130px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
   

    &-img {
        width: 250px;
        height: 250px;
        border-radius: 20%;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 40%;
        border: 1px solid gray;
    }

  
}