.main {
    min-height: calc(100vh - 100px - 20vh);
    text-align: center;
    max-width: 100%;
    
    background: rgb(253, 161, 128);

    &__text {
        font-size: 100px;
        font-family: 'Yellowtail', cursive;
        margin-top: 10%;
        
    }
}