.list__job {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 30%;

    &-block {
        display: flex;
       

        img {
            margin-right:90px;
        }
    }

}